<md-toolbar>
  <div class="md-toolbar-tools">
    <a ui-sref="main">
      <i class="zmdi zmdi-apps zmdi-hc-lg"></i> Skeleton
    </a>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button ng-repeat="nav in vm.neutral | orderBy:'order'" 
      ui-sref-active="active" ui-sref="{{nav.state}}">
      <span ng-bind="nav.link"></span>
    </md-button>
    <md-button ng-repeat="nav in vm.unauthorized | orderBy:'order'" 
      ui-sref-active="active" ui-sref="{{nav.state}}"
      ng-if="!user.signedIn"><span ng-bind="nav.link"></span>
    </md-button>
     <!-- Trigger element is a md-button with an icon -->
    <md-menu ng-if="user.signedIn">
      <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
        <i class="zmdi zmdi-more-vert zmdi-hc-lg"></i>
      </md-button>
      <md-menu-content>
        <md-menu-item ng-repeat="nav in vm.authorized | orderBy:'order'" 
          ui-sref-active="active" ui-sref="{{nav.state}}">
          <md-button>
            <i class="zmdi zmdi-{{nav.icon}} zmdi-hc-lg"></i>
            <span ng-bind="nav.link"></span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>


