<!DOCTYPE html>
<html>
<head>
  <title>Skeleton</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="skeleton">
  <div><navbar/></div>
  <div class="container">
    <div ui-view></div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>