<!DOCTYPE html>
<html>
<head>
  <title>Skeleton</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="skeleton">
  <div layout="column" layout-fill>
    <div><navbar/></div>
    <md-content>
      <div ui-view></div> 
    </md-content>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>